<Page (loaded)="pageLoaded($event)" (unloaded)="pageUnloaded()">
    <GridLayout class="page">

        <StackLayout #otpDialog modal style.zIndex="999" size="md" alignment="middle" duration="100"
            (open)="onOpenModal()" (close)="onCloseModal()">
            <GridLayout borderRadius="3" rows="auto, auto, auto, auto" class="p-t-15 bg-white">

                <Label class="text-center" marginTop="10" row="0" text="OTP has been sent to the email "></Label>
                <Label class="text-center" marginBottom="10" row="1" [text]=emailText color="blue"></Label>

                <StackLayout row="2" width="80%" backgroundColor="#dcdcdc">
                    <TextField hint="Enter OTP here" style.placeholderColor="#646464" keyboardType="number"
                        (textChange)="otpTextField($event)" autocorrect="false"></TextField>
                </StackLayout>

                <StackLayout row="3" class="login-button-container" marginBottom="15" (tap)="onOtpSubmit()">
                    <Button text="Submit" class="login-button" ng-click="showme=true" (tap)="onOtpSubmit()"></Button>
                </StackLayout>
            </GridLayout>
        </StackLayout>


        <StackLayout #passwordDialog modal style.zIndex="999" size="md" alignment="middle" duration="100"
            (open)="onOpenModal()" (close)="onCloseModal()">
            <GridLayout borderRadius="3" rows="auto, auto, auto" class="p-t-15 bg-white">

                <StackLayout row="0" width="80%" marginTop="10" backgroundColor="#dcdcdc">
                    <TextField hint="New password" style.placeholderColor="#646464" keyboardType="number"
                        (textChange)="newPasswordTextField($event)" autocorrect="false" secure="true"></TextField>
                </StackLayout>

                <StackLayout row="1" width="80%" marginTop="10" backgroundColor="#dcdcdc">
                    <TextField hint="Confirm new password" style.placeholderColor="#646464" keyboardType="number"
                        (textChange)="confirmNewPasswordTextField($event)" autocorrect="false" secure="true">
                    </TextField>
                </StackLayout>

                <StackLayout row="2" class="login-button-container" marginTop="10" marginBottom="15"
                    (tap)="onPasswordSubmit()">
                    <Button text="Submit" class="login-button" ng-click="showme=true"
                        (tap)="onPasswordSubmit()"></Button>
                </StackLayout>
                <GridLayout *ngIf="isSubmittingPassword" row="2">
                    <!-- <ActivityIndicator #activityIndicator row="5" [busy]="isBusy"  class="activity-indicator"></ActivityIndicator> -->
                    <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle"
                        [busy]="isSubmittingPassword" rowSpan="1" colSpan="1">
                    </ActivityIndicator>

                </GridLayout>

            </GridLayout>
        </StackLayout>



        <FlexboxLayout *ngIf="!forgot_password" width="100%" height="100%" androidStatusBarBackground="transparent">
            <StackLayout *ngIf="isRendering" width="100%" height="100%">

                <GridLayout width="100%" height="100%" class="grid-container"
                    rows="auto,auto,auto, auto, auto, auto,auto">


                    <GridLayout row="0" columns="*,*,*" marginTop="1%" width="100%" height="10%">
                        <StackLayout marginLeft="6%" width="6%" height="40%" col="0" verticalAlignment="top"
                            horizontalAlignment="left">
                            <Button class="navigate-back-button" (tap)="nativegateBack()"></Button>
                        </StackLayout>
                        <StackLayout col="1" verticalAlignment="top" horizontalAlignment="center">
                        </StackLayout>
                        <StackLayout col="1" verticalAlignment="top" horizontalAlignment="center">
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="1" width="100%" height="auto" marginTop="20%" class="input-field"
                        rows="auto, auto, auto, auto, auto, auto,auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto">
                        <StackLayout row="0" width="80%" backgroundColor="transparent" height="auto"
                            orientation="horizontal">
                            <StackLayout height="8%" width="8%">
                                <Image class="iconTextField" [src]="userNameIcon"></Image>
                            </StackLayout>
                            <TextField hint="Username" color="#FFFFFF" style.placeholderColor="#B9B9B9"
                                (textChange)="userNameTextField($event)" autocorrect="false"
                                (blur)="onBlurUserName($event)" (focus)="onFocusUserName($event)"></TextField>
                        </StackLayout>

                        <StackLayout width="80%" row="1" [backgroundColor]="underlineUserName"
                            verticalAlignment="middle" height="2px">
                        </StackLayout>

                        <StackLayout row="2" width="80%" backgroundColor="transparent" height="auto"
                            orientation="horizontal">
                            <StackLayout height="8%" width="8%">
                                <Image class="iconTextField" [src]="passwordIcon"></Image>
                            </StackLayout>
                            <TextField hint="Password" color="#FFFFFF" style.placeholderColor="#B9B9B9"
                                (textChange)="passwordTextField($event)" autocorrect="false"
                                (blur)="onBlurPassword($event)" (focus)="onFocusPassword($event)" secure="true">
                            </TextField>
                        </StackLayout>

                        <StackLayout width="80%" row="3" [backgroundColor]="underlinePassword"
                            verticalAlignment="middle" height="2px">
                        </StackLayout>
                    </GridLayout>

                    <StackLayout row="2" class="login-button-container" (tap)="onLoginClick()">

                        <Button text="Login" class="font-weight-bold login-button" ng-click="showme=true"
                            (tap)="onLoginClick()"></Button>

                    </StackLayout>

                    <GridLayout *ngIf="isLoginingIn" row="2">
                        <!-- <ActivityIndicator #activityIndicator row="5" [busy]="isBusy"  class="activity-indicator"></ActivityIndicator> -->
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoginingIn"
                            rowSpan="1" colSpan="1">
                        </ActivityIndicator>

                    </GridLayout>
                    <StackLayout row="3" backgroundColor="transparent" verticalAlignment="top"
                        horizontalAlignment="center">
                        <Button class="font-italic forgot-password-label" (tap)="nativateToForgotPassword()"
                            text="Forgot Password" textTransform='none'></Button>
                    </StackLayout>

                    <GridLayout row="4" columns="*" orientation="horizontal" backgroundColor="black"
                        (tap)="onTapLogin()" marginTop="14%" opacity=".5" width="100%" height="10%">
                        <Button class="text-left font-normal fb" col="0" width="100%" height="100%" marginLeft="6%"
                            textTransform="none" text="Signin with Facebook" (tap)="onTapLogin()"></Button>
                    </GridLayout>
                    <GridLayout row="5" columns="*" orientation="horizontal" marginTop="5" (tap)="navigateToRegister()"
                        backgroundColor="black" opacity=".5" width="100%" height="10%" verticalAlignment="bottom">
                        <Button class="text-left font-normal newToDJ" width="100%" height="100%" col="0" marginLeft="6%"
                            textTransform="none" text="New to Rick Geez? Sign up now"
                            (tap)="navigateToRegister()"></Button>
                    </GridLayout>

                </GridLayout>

            </StackLayout>

            <GridLayout *ngIf="!isRendering" width="100%" height="100%">
                <!-- <ActivityIndicator #activityIndicator row="5" [busy]="isBusy"  class="activity-indicator"></ActivityIndicator> -->
                <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering"
                    rowSpan="1" colSpan="1">
                </ActivityIndicator>

            </GridLayout>
        </FlexboxLayout>




        <FlexboxLayout *ngIf="forgot_password" width="100%" height="100%" androidStatusBarBackground="transparent">
            <StackLayout>
                <GridLayout class="grid-container" rows="auto,auto,auto, auto, auto">



                    <GridLayout row="0" columns="*,auto,*" marginTop="1%" backgroundColor="transparent" width="100%"
                        height="10%">
                        <StackLayout marginLeft="6%" width="6%" height="40%" col="0" verticalAlignment="top"
                            horizontalAlignment="left">
                            <Button class="navigate-back-button" (tap)="nativegateBack()"></Button>
                        </StackLayout>
                        <StackLayout col="1" verticalAlignment="top" horizontalAlignment="center">
                            <Label class="forgot-password-label" text="Forgot Password"></Label>
                        </StackLayout>
                        <StackLayout margin="10" col="1" verticalAlignment="top" horizontalAlignment="center">
                        </StackLayout>
                    </GridLayout>

                    <StackLayout row="1" marginTop="25%" orientation="vertical" width="100%"
                        horizontalAlignment="center">
                        <Label class="forgot-password-policy" marginLeft="6%" [text]="emailTerm"></Label>
                        <Label class="forgot-password-policy" marginLeft="6%" [text]="emailTerm2"></Label>
                    </StackLayout>

                    <StackLayout row="2" width="80%" backgroundColor="transparent" height="auto"
                        orientation="horizontal">
                        <StackLayout height="8%" width="8%">
                            <Image class="iconTextField" [src]="emailIcon"></Image>
                        </StackLayout>
                        <TextField hint="Email" style.placeholderColor="#B9B9B9" color="#FFFFFF"
                            (textChange)="emailTextField($event)" autocorrect="false" (blur)="onBlurEmail($event)"
                            (focus)="onFocusEmail($event)"></TextField>
                    </StackLayout>

                    <StackLayout width="80%" row="3" [backgroundColor]="underlineEmail" verticalAlignment="middle"
                        height="2px">
                    </StackLayout>


                    <StackLayout row="4" class="login-button-container">
                        <Button text="Submit" class="font-weight-bold login-button" ng-click="showme=true"
                            (tap)="forgotPasswordSubmit()"></Button>
                    </StackLayout>
                    <GridLayout *ngIf="isSubmittingEmail" row="4">
                        <!-- <ActivityIndicator #activityIndicator row="5" [busy]="isBusy"  class="activity-indicator"></ActivityIndicator> -->
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle"
                            [busy]="isSubmittingEmail" rowSpan="1" colSpan="1">
                        </ActivityIndicator>

                    </GridLayout>
                </GridLayout>

            </StackLayout>

        </FlexboxLayout>

    </GridLayout>
</Page>