<Page (loaded)="pageLoaded($event)">

    <StackLayout *ngIf="isRendering" class="page">

        <StackLayout marginTop="25%" verticalAlignment="middle" horizontalAlignment="center" width="250vh"
            height="250vh" row="0" col="0" opacity="1">
            <GridLayout width="220vh" height="220vh" rows="auto,*" columns="*">

                <StackLayout class="home-panel" height="100%" width="100%">
                    <RadRadialGauge>
                        <RadialScale tkRadialGaugeScales startAngle="135" sweepAngle="270">
                            <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0">
                            </ScaleStyle>

                            <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100">
                                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#ffffff" cap="Round"
                                    barWidth="0.1">
                                </BarIndicatorStyle>
                            </RadialBarIndicator>

                            <RadialBarIndicator #barIndicator tkRadialScaleIndicators minimum="0" isAnimated="true">
                                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#898989" cap="Round"
                                    barWidth="0.1">
                                </BarIndicatorStyle>
                            </RadialBarIndicator>
                        </RadialScale>
                    </RadRadialGauge>
                </StackLayout>
                <StackLayout #stack class="stack" height="150vh" width="150vh" margin="5%" borderRadius="75vh" row="0"
                    col="0">

                </StackLayout>
                <StackLayout height="45vh" width="45vh" horizontalAlignment="center" verticalAlignment="middle"
                    borderRadius="22.5vh" backgroundColor="red">
                    <Button #button class="button" (tap)="playPause()"></Button>
                </StackLayout>

                <!-- <ActivityIndicator [busy]="isBusy"></ActivityIndicator> -->


            </GridLayout>
            <GridLayout columns="*,*" verticalAlignment="bottom" width='100%' marginBottom="5%">
                <StackLayout col="0" marginLeft="20%" orientation="vertical">
                    <Label #labelRem [text]="remainingTime" color="white"></Label>
                </StackLayout>

                <StackLayout col="1" orientation="vertical" horizontalAlignment="right" marginRight="20%">
                    <Label #labelPas [text]="passedTime" color="white"></Label>
                </StackLayout>

            </GridLayout>

        </StackLayout>

        <GridLayout row="1" columns="*,*" width="100%" height="15%" orientation="horizontal">
            <Button class="rewind-button" (tap)="rewind()" marginLeft="20%" horizontalAlignment="left" col="0"></Button>
            <Button class="forward-button" (tap)="forward()" marginRight="20%" horizontalAlignment="right"
                col="1"></Button>

        </GridLayout>

    </StackLayout>

    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <!-- <ActivityIndicator #activityIndicator row="5" [busy]="isBusy"  class="activity-indicator"></ActivityIndicator> -->
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>

    </GridLayout>

</Page>