@keyframes example {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@keyframes playtopause {
    from {
        background-image: url("res://play")
    }

    to {
        background-image: url("res://pause")
    }

    /* 0% {
        background-image: url("res://play")
    }
    3.22% {
        background-image: url("res://frame01")
    }
    6.44% {
        background-image: url("res://frame02")
    }
    9.66% {
        background-image: url("res://frame03")
    }
    12.88% {
        background-image: url("res://frame04")
    }
    16.10% {
        background-image: url("res://frame05")
    }
    19.33% {
        background-image: url("res://frame06")
    }
    22.55% {
        background-image: url("res://frame07")
    }
    25.77% {
        background-image: url("res://frame08")
    }
    28.99% {
        background-image: url("res://frame09")
    }
    32.21% {
        background-image: url("res://frame10")
    }
    35.43% {
        background-image: url("res://frame11")
    }
    38.65% {
        background-image: url("res://frame12")
    }
    41.87% {
        background-image: url("res://frame13")
    }
    45.09% {
        background-image: url("res://frame14")
    }
    48.31% {
        background-image: url("res://frame15")
    }
    51.53% {
        background-image: url("res://frame16")
    }
    54.75% {
        background-image: url("res://frame17")
    }
    57.97% {
        background-image: url("res://frame18")
    }
    61.19% {
        background-image: url("res://frame19")
    }
    64.41% {
        background-image: url("res://frame20")
    }
    67.63% {
        background-image: url("res://frame21")
    }
    70.85% {
        background-image: url("res://frame22")
    }
    74.07% {
        background-image: url("res://frame23")
    }
    77.29% {
        background-image: url("res://frame24")
    }
    80.51% {
        background-image: url("res://frame25")
    }
    83.73% {
        background-image: url("res://frame26")
    }
    86.95% {
        background-image: url("res://frame27")
    }
    90.17% {
        background-image: url("res://frame28")
    }
    93.37% {
        background-image: url("res://frame29")
    }
    96.59% {
        background-image: url("res://frame30")
    }
    100% {
        background-image: url("res://frame31")
    } */
}

.page {
    background-position: center;
    background-image: url("res://category_default");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    filter: blur(5px);
}

.stack {
    /* background-image: url("res://category_default"); */
    /* border-radius: 100%; */
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-name: example;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
}

.button {
    width: 24;
    height: 24;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("res://play");
    background-size: cover;
}

.buttonPause {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("res://pause");
    background-size: cover;
}

.rewind-button {
    background-image: url("res://rewind");
    background-repeat: no-repeat;
    background-position: center;
}

.forward-button {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("res://forward");
}









.home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
}

.description-label {
    margin-bottom: 15;
}