.page {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.input-text {
    border: none;
    border-color: transparent;
}

TextField {
    border-width: 0 0 2 0;
    border-bottom-color: transparent;
}

.input-field {
    background-color: white;
}

.login-button {
    background-color: red;
    color: white;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border-width: 1;
    border-color:transparent;
}

.navigate-back-button {
    horizontal-align: left;
    background-image: url("res://ic_back");
    background-repeat: no-repeat;
    margin-left: 5;
    height: 30;
    width: 30;
}

.navigate-back-button:active {
    horizontal-align: left;
    background-image: url("res://ic_back_focus");
    background-repeat: no-repeat;
    margin-left: 5;
    height: 30;
    width: 30;
}

.login-button:active {
    color: white;
    background-color: #4f4f4f;
}

.country {
    z-index: 5;
    border: 1%;
}

.country-label {
    background-color: transparent;
    border-width: 1;
    border-color: transparent;
}

.country-label:active {
    background-color: gray;
    /* border-width: 1;
    border-color: transparent; */
}