<Page>
    <GridLayout class="page">

        <StackLayout #otpDialog style.zIndex="999" modal size="md" alignment="middle" duration="100">
            <GridLayout borderRadius="3" backgroundColor="white" rows="auto, auto, auto, auto" class="p-t-15 bg-white">

                <Label class="text-center" marginTop="10" row="0" text="OTP has been sent to the email "></Label>
                <Label class="text-center" marginBottom="10" row="1" [text]=emailText color="blue"></Label>

                <StackLayout row="2" width="80%" backgroundColor="white">
                    <TextField hint="Enter OTP here" style.placeholderColor="#646464" keyboardType="number"
                        (textChange)="otpTextField($event)" autocorrect="false"></TextField>
                </StackLayout>

                <StackLayout row="3" class="login-button-container" marginBottom="15" (tap)="onOtpSubmit()">
                    <Button text="Submit" class="login-button" ng-click="showme=true" (tap)="onOtpSubmit()"></Button>
                </StackLayout>
                <AbsoluteLayout row="2" class="activity-indicator-container">
                    <ActivityIndicator #activityIndicator [busy]="isBusy" class="activity-indicator">
                    </ActivityIndicator>
                </AbsoluteLayout>
            </GridLayout>
        </StackLayout>

        <FlexboxLayout class="page" backgroundColor="black" androidStatusBarBackground="transparent">


            <GridLayout *ngIf="isRendering" class="grid-container" width="100%" height="100%"
                rows="auto,auto, auto, auto, auto, auto, auto">

                <GridLayout row="0" columns="*,*,*" marginTop="1%" width="100%" height="10%">
                    <StackLayout marginLeft="6%" width="6%" height="40%" col="0" verticalAlignment="top"
                        horizontalAlignment="left">
                        <Button class="navigate-back-button" (tap)="nativegateBack()"></Button>
                    </StackLayout>
                    <StackLayout col="1" verticalAlignment="top" horizontalAlignment="center">
                    </StackLayout>
                    <StackLayout col="2" verticalAlignment="top" horizontalAlignment="center">
                    </StackLayout>
                </GridLayout>

                <StackLayout row="1" class="register-logo" marginTop="3%" horizontalAlignment="center" width="20%"
                    height="16%">
                    <Image src="res://img_logo_splash"></Image>
                </StackLayout>

                <GridLayout row="2" width="100%" height="auto"
                    rows="auto, auto, auto, auto, auto, auto,auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto">
                    <StackLayout row="0" width="80%" backgroundColor="transparent" height="auto"
                        orientation="horizontal">
                        <StackLayout height="8%" width="8%">
                            <Image class="iconTextField" [src]="userNameIcon"></Image>
                        </StackLayout>
                        <TextField hint="Username" color="white" style.placeholderColor="#898989" autocorrect="false"
                            returnKeyType="next" (textChange)="userNameTextField($event)" (blur)="onBlurUserName()"
                            (focus)="onFocusUserName()"></TextField>
                    </StackLayout>

                    <StackLayout width="80%" row="1" [backgroundColor]="underlineUserName" verticalAlignment="middle"
                        height="2px">
                    </StackLayout>

                    <StackLayout row="2" width="80%" backgroundColor="transparent" height="auto"
                        orientation="horizontal">
                        <StackLayout height="8%" width="8%">
                            <Image class="iconTextField" [src]="emailIcon"></Image>
                        </StackLayout>
                        <TextField hint="Email" color="white" style.placeholderColor="#898989" autocorrect="false"
                            returnKeyType="next" (textChange)="emailTextField($event)" (blur)="onBlurEmail()"
                            (focus)="onFocusEmail()"></TextField>
                    </StackLayout>

                    <StackLayout width="80%" row="3" [backgroundColor]="underlineEmail" verticalAlignment="middle"
                        height="2px">
                    </StackLayout>

                    <StackLayout row="4" width="80%" backgroundColor="transparent" height="auto"
                        orientation="horizontal">
                        <StackLayout height="8%" width="8%">
                            <Image class="iconTextField" [src]="passwordIcon"></Image>
                        </StackLayout>
                        <TextField hint="Password" color="white" style.placeholderColor="#898989" returnKeyType="done"
                            (textChange)="passwordTextField($event)" (blur)="onBlurPassword()"
                            (focus)="onFocusPassword()" secure="true"></TextField>
                    </StackLayout>

                    <AbsoluteLayout row="4" class="activity-indicator-container">
                        <ActivityIndicator #activityIndicator [busy]="isBusy" class="activity-indicator">
                        </ActivityIndicator>
                    </AbsoluteLayout>

                    <StackLayout width="80%" row="5" [backgroundColor]="underlinePassword" verticalAlignment="middle"
                        height="2px">
                    </StackLayout>

                    <StackLayout row="6" width="80%" backgroundColor="transparent" height="auto"
                        orientation="horizontal">

                        <StackLayout height="8%" width="8%">
                            <Image class="iconTextField" [src]="confirmPasswordIcon"></Image>
                        </StackLayout>
                        <TextField hint="Confirm Password" color="white" style.placeholderColor="#898989"
                            (textChange)="confirmPasswordTextField($event)" returnKeyType="done"
                            (blur)="onBlurConfirmPassword()" (focus)="onFocusConfirmPassword()" secure="true">
                        </TextField>
                    </StackLayout>

                    <StackLayout width="80%" row="7" [backgroundColor]="underlineConfirmPassword"
                        verticalAlignment="middle" height="2px">
                    </StackLayout>

                </GridLayout>

                <StackLayout row="3" marginTop="2%" horizontalAlignment="center" orientation="horizontal"
                    backgroundColor="transparent">
                    <Label class="text-label" text="Choose Submit if you agree with our T&C"></Label>
                </StackLayout>

                <StackLayout row="4" marginTop="2%" class="login-button-container" (tap)="onSubmit()">
                    <Button class="font-weight-bold login-button" text="SUBMIT" textTransform="none"
                        class="login-button" (tap)="onSubmit()"></Button>
                </StackLayout>

                <StackLayout row="5" marginTop="15%" orientation="vertical" backgroundColor="white" opacity=".5"
                    width="100%" height="8%">
                    <Label marginLeft="6%" paddingTop="5" class="font-weight-bold" text="Notice" color="black"></Label>
                    <Label marginLeft="6%" text="Your Personal Information will be kept secure with us"
                        color="black"></Label>
                </StackLayout>

            </GridLayout>
            <GridLayout *ngIf="!isRendering" width="100%" height="100%">
                <!-- <ActivityIndicator #activityIndicator row="5" [busy]="isBusy"  class="activity-indicator"></ActivityIndicator> -->
                <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering"
                    rowSpan="1" colSpan="1">
                </ActivityIndicator>

            </GridLayout>
        </FlexboxLayout>

    </GridLayout>


</Page>