<StackLayout height="100%" width="100%" backgroundColor="#d3d3d3">

    <StackLayout margin="10" height="97%" backgroundColor="white">

        <ScrollView height="100%" weight="100%">
            <StackLayout>

                <Label textWrap="true" marginLeft="5" marginRight="5" marginTop="10">
                    <FormattedString>
                        <Span text="DJ Rick Geez " fontSize="16" fontWeight="Bold"></Span>
                        <Span fontSize="14"
                            text="is one of Hip Hops leading DJ's born and raised in West Philly. Geez always had a notch for DJing since he was a little kid break dancing on his head, and listening to the Philly DJ's while growing up. DJ Rick Geez was heavily influenced by DJ Jay Ski, Cosmik Kev, DJ Ran and a slew of other DJ's that were on Power99 & Q102 in Philly in the 80's and early 90's. In 1994 when Rick received his first mixer he knew at that moment that he wanted to make Djing his profession. He taught himself how to scratch by watching DJs that came before him and that he looked up to."></Span>
                    </FormattedString>
                </Label>

                <Label textWrap="true" marginTop="20" marginLeft="5" marginRight="5">
                    <FormattedString>
                        <Span text="Currently " fontSize="14"></Span>
                        <Span text=" DJ Rick Geez " fontSize="16" fontWeight="Bold"></Span>
                        <Span fontSize="14"
                            text="is traveling the world on tour with Pusha T as his official DJ, while also spinning on WOWI 103 Jamz Sunday - Friday. When he is on the road he either brings the turntables into his hotel room and mixes live or he pre-records his shows. Rick has a long history with Pusha T that goes back to when he was DJing for The Clipse back in 2007. Although, Rick Geez is a touring and radio DJ he also does private gigs and rocks out nightclubs all over the globe. While traveling the globe, Geez loves seeing the crowd with their hands up while rocking to his set, and getting to learn about all the different types of music and cultures from around the world."></Span>
                    </FormattedString>
                </Label>

                <Label textWrap="true" marginTop="20" marginLeft="5" marginRight="5">
                    <FormattedString>
                        <Span text="DJ Rick Geez " fontSize="16" fontWeight="Bold"></Span>
                        <Span fontSize="14"
                            text="is a talented and hard working man. He has been recognized by some of the industry greats including Producer/Singer Pharell Williams, and the legendary Grand Master Flash. His intensity to rock a crowd is what separates him from the rest of the DJ's out there. In the future look for Rick Geez to continue to rock stadiums, expand to different radio stations around the world, and continue to win fans over through his mixing."></Span>
                    </FormattedString>
                </Label>
            </StackLayout>

         
        </ScrollView>


    </StackLayout>

</StackLayout>
