<Page (loaded)="pageLoaded($event)">

    <StackLayout height="100%" width="100%">
        <GridLayout *ngIf="loggedIn">
            <GridView *ngIf="isRendering" [items]="items" colWidth="35%" rowHeight="25%" width="100%" height="100%"
                backgroundColor="white">

                <ng-template let-item="item" let-odd="odd">
                    <GridLayout (tap)="onCardClicked(item)">
                        <Image class="folder" stretch="aspectFill" [src]="getThumbnailSrc(item.thumbnail)"></Image>
                        <Label class="text-center" [text]="item.name" verticalAlignment="bottom">
                        </Label>
                    </GridLayout>
                </ng-template>

            </GridView>
            <GridLayout *ngIf="!isRendering" width="100%" height="100%">
                <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering"
                    rowSpan="1" colSpan="1">
                </ActivityIndicator>

            </GridLayout>
        </GridLayout>
        <GridLayout width="100%" height="100%" *ngIf="!loggedIn">
            <StackLayout horizontalAlignment="center" verticalAlignment="middle">
                <Label text="You need to login to continue"></Label>
            </StackLayout>
        </GridLayout>

    </StackLayout>

</Page>