TextField {
    border-color: orange;
    border-width: 1px 1px 1px 1px;
    background-color: white;
}

.textFieldFocus {
    border-color: red;
    border-width: 1px 1px 1px 1px;
    background-color: white;
}

.login-button-container {
    margin-top: 15;
    border-radius: 20;
    background-color: #cc3333;
    width: 75%;
}

.login-button {
    border-radius: 20;
    background-color: #D40000;
    color: white;
    width: 100%;

    /* z-index: 0; */
}

.login-button:active {
    color: white;
    background-color: #4f4f4f;
}