<FlexboxLayout width="100%" height="100%" androidStatusBarBackground="transparent">
    <StackLayout>
        <GridLayout width="100%" height="100%" rows="auto,auto,auto">

            <GridLayout row="0" columns="*,auto,*" backgroundColor="black" width="100%" height="8%">
                <StackLayout style="box-sizing:border-box;" paddingLeft="6%" paddingRight="1%" width="11.5%" height="60%"
                    backgroundColor="transparent" col="0" verticalAlignment="middle" horizontalAlignment="left">
                    <Button class="navigate-back-button" (tap)="nativegateBack()"></Button>
                </StackLayout>

                <StackLayout margin="10" col="1" verticalAlignment="middle" backgroundColor="transparent"
                    horizontalAlignment="center">
                    <Label text="EDIT MY ACCOUNT INFO" color="white"></Label>
                </StackLayout>
                <StackLayout margin="10" col="1" verticalAlignment="middle" horizontalAlignment="center">
                </StackLayout>
            </GridLayout>


            <StackLayout height="92%" width="100%" row="1" style="background-image:url('res://img_background_splash');background-repeat: no-repeat;background-position: center; background-size: cover;">
                <GridLayout width="100%" height="auto" marginTop="2%" marginRight="4%" rows="auto, auto, auto, auto, auto, auto,auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto">

                    <Label row="0" textAlignment="center" class="label1" text="Please choose a password between 6-20"></Label>
                    <Label row="1" textAlignment="center" class="label2" text="characters"></Label>


                    <Label row="2" marginTop="5%" marginLeft="6%" text="Current Password"></Label>

                    <TextField row="3" marginLeft="6%" marginRight="2%" (focus)="onCurrentPasswordFocus()" (blur)="onCurrentPasswordBlur()"
                        [style.borderColor]="border_color_current_password" [style.backgroundColor]="background_color"
                        style.placeholderColor="#646464" secure="true" (textChange)="currentPasswordTextField($event)"
                        autocorrect="false"></TextField>


                    <Label row="4" marginLeft="5%" text="New Password"></Label>

                    <TextField row="5" marginLeft="6%" marginRight="2%" (focus)="onNewPasswordFocus()" (blur)="onNewPasswordBlur()"
                        [style.borderColor]="border_color_new_password" [style.backgroundColor]="background_color"
                        style.placeholderColor="#646464" secure="true" (textChange)="newPasswordTextField($event)"
                        autocorrect="false"></TextField>



                    <Label row="6" marginTop="2%" marginLeft="6%" text="Confirm New Password"></Label>

                    <TextField row="7" marginLeft="6%" marginRight="2%" (focus)="onConfirmPasswordFocus()" (blur)="onConfirmPasswordBlur()"
                        [style.borderColor]="border_color_confirm_password" [style.backgroundColor]="background_color"
                        style.placeholderColor="#646464" secure="true" (textChange)="confirmNewPasswordTextField($event)"
                        autocorrect="false"></TextField>

                    <StackLayout row="8" class="login-button-container" (tap)="onSubmitClick()">
                        <Button text="SUBMIT" class="login-button" ng-click="showme=true" (tap)="onSubmitClick()"></Button>
                    </StackLayout>
                    <ActivityIndicator #activityIndicator row="5" [busy]="isBusy" horizontalAlignment="center"
                        verticalAlignment="middle" class="activity-indicator"></ActivityIndicator>

                </GridLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</FlexboxLayout>