<Page (loaded)="pageLoaded($event)" (unloaded)="pageUnloaded()">
    <StackLayout height="100%" width="100%">

        <TabView [(ngModel)]="tabSelectedIndex" width="100%" height="100%" backgroundColor="#dcdcdc"
            selectedTabTextColor="red" androidSelectedTabHighlightColor="red" androidOffscreenTabLimit='2'
            (selectedIndexChanged)="onSelectedIndexChanged($event)">

            <StackLayout *tabItem="{title: 'Latest'}">
                <GridLayout rows="auto" *ngIf="loggedIn">

                    <GridLayout *ngIf="isRendering" row="0" width="100%" height="100%">
                        <PullToRefresh (refresh)="refreshLatestTab($event)">

                            <GridView [items]="songs" colWidth="35%" rowHeight="40%" width="100%" height="100%"
                                marginRight="7.5" backgroundColor="#dcdcdc">

                                <ng-template let-item="item" let-odd="odd">

                                    <StackLayout orientation="vertical" backgroundColor="white" marginLeft="7.5"
                                        marginTop="7.5">
                                        <GridLayout width="100%" height="60%" rows="auto" columns="auto"
                                            backgroundColor="#dcdcdc">
                                            <Image [src]="getThumbnailSrc(item.thumbnail)" stretch="fill"
                                                decodeWidth="100" decodeHeight="100" loadMode="async" useCache="true"
                                                (tap)="cardClicked(item)"></Image>

                                            <AbsoluteLayout width="100%" height="100%" backgroundColor="transparent">
                                                <Button class="videoPlayButton" left="75%" top="50%"
                                                    (tap)="cardClicked(item)"></Button>
                                            </AbsoluteLayout>

                                        </GridLayout>

                                        <Label class="h3" marginTop="5" marginLeft="5%" [text]="item.name"
                                            color="black"></Label>
                                        <StackLayout backgroundColor="#DCDCDC" marginTop="5" width="90%" height="1">
                                        </StackLayout>
                                        <StackLayout backgroundColor="#DCDCDC" marginTop="10" width="90%" height="1">
                                        </StackLayout>

                                        <GridLayout class="pull-left" width="90%" rows="auto" columns="auto,auto,*"
                                            marginLeft="5%" marginTop="5" orientation="horizontal">
                                            <Image row="0" col="0" src="res://icon_view" height="25%"></Image>
                                            <StackLayout row="0" col="1" marginLeft="2%" verticalAlignment="center">
                                                <Label class="text-center body"
                                                    text="{{item.views==undefined?0:item.views+' views'}}"></Label>
                                            </StackLayout>
                                            <StackLayout row="0" col="2" class="pull-right" width="auto"
                                                horizontalAlignment="right" marginLeft="15%" verticalAlignment="center">
                                                <Label class="text-right body" [text]="item.name"></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </StackLayout>

                                </ng-template>

                            </GridView>
                        </PullToRefresh>
                    </GridLayout>
                    <GridLayout *ngIf="!isRendering" row="0" width="100%" height="100%">
                        <!-- <ActivityIndicator #activityIndicator row="5" [busy]="isBusy"  class="activity-indicator"></ActivityIndicator> -->
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering"
                            rowSpan="1" colSpan="1">
                        </ActivityIndicator>

                    </GridLayout>
                </GridLayout>

                <GridLayout width="100%" height="100%" *ngIf="!loggedIn">
                    <StackLayout horizontalAlignment="center" verticalAlignment="middle">
                        <Label text="You need to login to continue"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>



            <StackLayout *tabItem="{title: 'Most Viewed'}">
                <GridLayout rows="auto" *ngIf="loggedIn">
                    <GridLayout *ngIf="isRenderingMostViewed" row="0" height="100%" width="100%">
                        <PullToRefresh (refresh)="refreshMostViewedTab($event)">
                            <GridView [items]="mostViewedSongs" colWidth="35%" rowHeight="40%" width="100%"
                                height="100%" marginRight="7.5" backgroundColor="#dcdcdc">
                                <ng-template let-item="item" let-odd="odd">

                                    <StackLayout orientation="vertical" backgroundColor="white" marginLeft="7.5"
                                        marginTop="7.5">
                                        <GridLayout width="100%" height="60%" rows="auto" columns="auto"
                                            backgroundColor="#dcdcdc">
                                            <Image [src]="getThumbnailSrc(item.thumbnail)" stretch="fill" width="100%"
                                                height="100%" (tap)="cardClicked(item)"></Image>

                                            <AbsoluteLayout width="100%" height="100%" backgroundColor="transparent">
                                                <Button class="videoPlayButton" left="75%" top="50%"
                                                    (tap)="cardClicked(item)"></Button>
                                            </AbsoluteLayout>

                                        </GridLayout>

                                        <Label class="h3" marginTop="5" marginLeft="5%" [text]="item.name"
                                            color="black"></Label>
                                        <StackLayout backgroundColor="#DCDCDC" marginTop="5" width="90%" height="1">
                                        </StackLayout>
                                        <StackLayout backgroundColor="#DCDCDC" marginTop="10" width="90%" height="1">
                                        </StackLayout>

                                        <GridLayout class="pull-left" width="90%" rows="auto" columns="auto,auto,*"
                                            marginLeft="5%" marginTop="5" orientation="horizontal">
                                            <Image row="0" col="0" src="res://icon_view" height="25%"></Image>
                                            <StackLayout row="0" col="1" marginLeft="2%" verticalAlignment="center">
                                                <Label class="text-center body"
                                                    text="{{item.views==undefined?0:item.views+' views'}}"></Label>
                                            </StackLayout>
                                            <StackLayout row="0" col="2" class="pull-right" width="auto"
                                                horizontalAlignment="right" marginLeft="15%" verticalAlignment="center">
                                                <Label class="text-right body" [text]="item.name"></Label>
                                            </StackLayout>
                                        </GridLayout>
                                    </StackLayout>

                                </ng-template>
                            </GridView>
                        </PullToRefresh>

                    </GridLayout>
                    <GridLayout *ngIf="!isRenderingMostViewed" row="0" width="100%" height="100%">
                        <!-- <ActivityIndicator #activityIndicator row="5" [busy]="isBusy"  class="activity-indicator"></ActivityIndicator> -->
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle"
                            [busy]="!isRenderingMostViewed" rowSpan="1" colSpan="1">
                        </ActivityIndicator>

                    </GridLayout>
                </GridLayout>

                <GridLayout width="100%" height="100%" *ngIf="!loggedIn">
                    <StackLayout horizontalAlignment="center" verticalAlignment="middle">
                        <Label text="You need to login to continue"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

        </TabView>

    </StackLayout>

</Page>

<!-- <StackLayout height="30%" width="30%" backgroundColor="green"></StackLayout> -->







<!-- <GridLayout verticalAlignment="top" rows="auto" columns="auto, auto" backgroundColor="#dcdcdc" marginBottom="10%" height="29%" width="100%">
    <StackLayout row="0" col="0" width="45%" marginRight="1.66%" marginLeft="3.33%" backgroundColor="white" class="card-layout"
        orientation="vertical">
        <Image src="res://category_default"></Image>
        <Label class="h2" marginTop="5" marginLeft="5%" [text]="item.heading"></Label>
        <StackLayout backgroundColor="#DCDCDC" marginTop="5" width="90%" height="1"></StackLayout>
        <StackLayout backgroundColor="#DCDCDC" marginTop="10" width="90%" height="1"></StackLayout>

        <StackLayout width="90%" marginLeft="5%" marginTop="5" orientation="horizontal">
            <Image src="res://icon_view" width="5%" height="5%"></Image>
            <StackLayout width="20%">
                <Label class="body" text="250 views"></Label>
            </StackLayout>
            <StackLayout marginLeft="55%" class="gerne" width="20%">
                <Label class="body" text="fgdszghdszhdfhdh"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>

    <StackLayout row="0" col="1" width="45%" marginRight="3.33%" marginLeft="1.66%" class="card-layout" backgroundColor="white"
        orientation="vertical">
        <Image src="res://category_default"></Image>
        <Label class="h2" marginTop="5" marginLeft="5%" [text]="item.heading"></Label>
        <StackLayout backgroundColor="#DCDCDC" marginTop="5" width="90%" height="1"></StackLayout>
        <StackLayout backgroundColor="#DCDCDC" marginTop="10" width="90%" height="1"></StackLayout>

        <StackLayout width="90%" marginLeft="5%" marginTop="5" orientation="horizontal">
            <Image src="res://icon_view" width="5%" height="5%"></Image>
            <StackLayout width="20%">
                <Label class="body" text="250 views"></Label>
            </StackLayout>
            <StackLayout marginLeft="55%" class="gerne" width="20%">
                <Label class="body" text="fgdszghdszhdfhdh"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</GridLayout> -->








<!-- <StackLayout *ngIf="!item.odd" row="1">
                        <CardView *ngFor="let item of dataOdd" class="card" elevation="40" radius="10"
                            ios:shadowRadius="3">
                            <StackLayout class="card-layout" orientation="vertical">
                                <GridLayout verticalAlignment="top" rows="auto" columns="auto, auto" backgroundColor="#dcdcdc"
                                    marginBottom="10%" height="29%" width="100%">
                                    <StackLayout row="0" col="0" width="45%" (tap)="clicked(item.heading,0)"
                                        marginRight="1.66%" marginLeft="3.33%" backgroundColor="white" class="card-layout"
                                        orientation="vertical">
                                        <GridLayout rows="*" columns="*">
                                            <Image src="res://category_default"></Image>
                                            <AbsoluteLayout backgroundColor="transparent">
                                                <Button backgroundColor="black" top="50%" left="50%"></Button>
                                            </AbsoluteLayout>
                                        </GridLayout>

                                        <Label class="h2" marginTop="5" marginLeft="5%" [text]="item.heading"></Label>
                                        <StackLayout backgroundColor="#DCDCDC" marginTop="5" width="90%" height="1"></StackLayout>
                                        <StackLayout backgroundColor="#DCDCDC" marginTop="10" width="90%" height="1"></StackLayout>

                                        <StackLayout width="90%" marginLeft="5%" marginTop="5" orientation="horizontal">
                                            <Image src="res://icon_view" width="5%" height="5%"></Image>
                                            <StackLayout width="20%">
                                                <Label class="body" text="250 views"></Label>
                                            </StackLayout>
                                            <StackLayout marginLeft="55%" class="gerne" width="20%">
                                                <Label class="body" text="fgdszghdszhdfhdh"></Label>
                                            </StackLayout>
                                        </StackLayout>
                                    </StackLayout>
                                </GridLayout>
                            </StackLayout>
                        </CardView>
                    </StackLayout> -->







<!-- <GridLayout>
            <ScrollView class="page">
                <StackLayout>
                    <CardView *ngFor="let item of data" class="card" elevation="40" radius="10" ios:shadowRadius="3">
                        <StackLayout class="card-layout" orientation="vertical">
                             <Image src="res://category_default"></Image>
                            <Label class="h2" marginTop="5" marginLeft="5%" [text]="item.heading"></Label>
                            <StackLayout backgroundColor="#DCDCDC" marginTop="5" width="90%" height="1"></StackLayout>
                            <StackLayout backgroundColor="#DCDCDC" marginTop="10" width="90%" height="1"></StackLayout>

                            <StackLayout width="90%" marginLeft="5%" marginTop="5" orientation="horizontal">
                                <Image src="res://icon_view" width="5%" height="5%"></Image>
                                <StackLayout width="20%">
                                    <Label class="body" text="250 views"></Label>
                                </StackLayout>
                                <StackLayout marginLeft="55%" class="gerne" width="20%">
                                    <Label class="body" text="fgdszghdszhdfhdh"></Label>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </CardView>
                </StackLayout>
            </ScrollView>
        </GridLayout> -->