.searchStack {
    margin-top: 5px;
    height: 8%;
    width: 100%;
    background-color: #F1F1F1;
}

.parentlayout {
    height: 20%;
    background-color: #FFFFFF;
    width: 90%;
}

.searchButton {
    font-size: 14;
    background-color: #cc3333;

    color: white;
    background-image: url("res://ic_search_white_24dp");
    background-repeat: no-repeat;
    z-index: 0;
    width: fit-content;
    background-position: 85% 50%;

    vertical-align: middle;
    horizontal-align: center;
    border-radius: 70%;
    width: 28%;
    height: 75%;
}

.searchButton:active {
    font-size: 14;
    color: white;
    z-index: 0;
    background-color: #4f4f4f;
    background-position: 85% 50%;

    background-image: url("res://ic_search_white_24dp");
    background-repeat: no-repeat;
    border-radius: 70%;
    width: 28%;
    height: 75%;
    vertical-align: middle;
    horizontal-align: center;
}





.input-field {
    width: 100%;
}

.searchactivity {
    margin-left: 10;
    margin-right: 10;
    margin-top: 20;
}

.action-bar-back-icon {
    background-image: url("res://ic_back");
    background-color: transparent;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.action-bar-back-icon:active {
    background-image: url("res://ic_back_focus");
    background-color: transparent;
    background-repeat: no-repeat;
}


.action-bar-label {
    background-color: black;
}

.action-bar {
    width: 100%;
    height: 100%;
    align-items: center;
    background: transparent;
}

.back-buttonlayout {
    background-color: red;
    margin-right: 10;
    height: 40;
}

.back-buttonlayout {
    background-color: transparent;
    margin-right: 10;
    height: 40;
}

.searchlabel {
    width: 100%;
    color: white;
}

.label {
    color: white;

}

.navigate-back-button {
    height: 20;
    width: 70;
}

.action-bar-icon {
    height: 35;
    width: 35;
}

.action-bar-label {
    background-color: black;
}