<Page (loaded)="pageLoaded($event)" (unloaded)="pageUnloaded()">
	<StackLayout height="100%" backgroundColor="transparent" width="100%">
		<StackLayout height="8%" width="100%">
			<GridLayout backgroundColor="black" class="action-bar-label" rows="*" columns="*,*,*" height="100%"
				width="100%">
				<Button class="action-bar-back-icon" width="8%" height="55%" marginLeft="3%" col="0"
					(tap)="nativegateBack()" horizontalAlignment="left" verticalAlignment="middle"></Button>
				<StackLayout col="1" class="title-text" verticalAlignment="middle">
					<Label class="h3 text-center" text="SEARCH"></Label>
				</StackLayout>
			</GridLayout>
		</StackLayout>

		<StackLayout class="searchStack" orientation="horizontal" *ngIf='loggedIn'>
			<TextField width="65%" height="80%" margin="2%" (focus)="onFocus($event)" (blur)="onBlur($event)"
				style.borderColor="#CC3333" style.borderWidth="0.7%" style.backgroundColor="white"
				style.placeholderColor="#646464" (textChange)="searchTextField($event)" autocorrect="false"
				(returnPress)="onReturn($event)"></TextField>
			<Button class="text-left font-normal searchButton" col="0" textTransform="none" text="Search"
				(tap)="onSearchClick()"></Button>
		</StackLayout>

		<GridLayout *ngIf='loggedIn'>
			<GridView *ngIf="isRendering" [items]="songs" colWidth="35%" rowHeight="40%" width="100%" height="100%"
				marginRight="7.5" backgroundColor="#dcdcdc">
				<ng-template let-item="item" let-odd="odd">
					<StackLayout orientation="vertical" backgroundColor="white" marginLeft="7.5" marginTop="7.5">
						<GridLayout width="100%" height="60%" rows="auto" columns="auto" backgroundColor="#dcdcdc">
							<Image src="res://category_default" stretch="fill" width="100%" height="100%"
								(tap)="cardClicked(item)"></Image>

							<AbsoluteLayout width="100%" height="100%" backgroundColor="transparent">
								<Button class="videoPlayButton" left="75%" top="50%" (tap)="cardClicked(item)"></Button>
							</AbsoluteLayout>
						</GridLayout>
						<Label class="h3" marginTop="5" marginLeft="5%" [text]="item.name" color="black"></Label>
						<StackLayout backgroundColor="#DCDCDC" marginTop="5" width="90%" height="1"></StackLayout>
						<StackLayout backgroundColor="#DCDCDC" marginTop="10" width="90%" height="1"></StackLayout>

						<GridLayout class="pull-left" width="90%" rows="auto" columns="auto,auto,*" marginLeft="5%"
							marginTop="5" orientation="horizontal">
							<Image row="0" col="0" src="res://icon_view" height="25%"></Image>
							<StackLayout row="0" col="1" marginLeft="2%" verticalAlignment="center">
								<Label class="text-center body"
									text="{{item.views==undefined?0:item.views+' views'}}"></Label>
							</StackLayout>
							<StackLayout row="0" col="2" class="pull-right" width="auto" horizontalAlignment="right"
								marginLeft="15%" verticalAlignment="center">
								<Label class="text-right body" [text]="item.name"></Label>
							</StackLayout>
						</GridLayout>
					</StackLayout>
				</ng-template>
			</GridView>

			<GridLayout *ngIf="!isRendering" width="100%" height="100%">
				<ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering"
					rowSpan="1" colSpan="1">
				</ActivityIndicator>

			</GridLayout>
		</GridLayout>

		<GridLayout width="100%" height="100%" *ngIf="!loggedIn">
			<StackLayout horizontalAlignment="center" verticalAlignment="middle">
				<Label text="You need to login to continue"></Label>
			</StackLayout>
		</GridLayout>
	</StackLayout>
</Page>