<Page (loaded)="pageLoaded($event)" (unloaded)="pageUnloaded()">
    <GridLayout width="100%" height="100%" rows="auto,auto">
        <GridLayout row="0" verticalAlignment="top" horizontalAlignment="center" columns="*,auto,*"
            backgroundColor="black" width="100%" height="10%">
            <StackLayout style="box-sizing:border-box;" paddingLeft="6%" paddingRight="1%" width="11.5%" height="60%"
                backgroundColor="transparent" col="0" verticalAlignment="middle" horizontalAlignment="left">
            </StackLayout>

            <StackLayout margin="10" col="1" verticalAlignment="middle" backgroundColor="transparent"
                horizontalAlignment="center">
                <Label text="Comments" color="white"></Label>
            </StackLayout>
            <StackLayout margin="10" col="1" verticalAlignment="middle" horizontalAlignment="center">
            </StackLayout>
        </GridLayout>

        <GridLayout #container *ngIf="isRendering" rows="auto,auto" row="1" height="90%" width="100%">
            <ListView *ngIf="!noComments" [items]="comments" row="0" width="100%" height="90%" rowHeight="80%"
                separatorColor="gray">
                <ng-template let-item="item">
                    <GridLayout rows="auto, auto" columns="auto, auto, auto">
                        <Image margin="2%" col="0" stretch="aspectFit" row="0" width="15%" height="70%"
                            src="res://img_avatar">
                        </Image>
                        <StackLayout row="0" col="1" width="60%" verticalAlignment="center">
                            <Label class="site-template-title" [text]="item.createdBy.id"></Label>
                            <Label class="site-template-description" wrapText="true"
                                [text]="item.comments[0].text"></Label>
                        </StackLayout>
                        <GridLayout row="0" col="2" height="100%" width="25%">
                            <Label class="pull-left" verticalAlignment="middle" horizontalAlignment="left"
                                [text]="getCommentDate(item)"></Label>
                        </GridLayout>
                    </GridLayout>
                </ng-template>
            </ListView>

            <GridLayout *ngIf="noComments" row="0" width="100%" height="90%">
                <Label verticalAlignment="middle" horizontalAlignment="center" text="No Comments"></Label>
            </GridLayout>

            <StackLayout row="1" orientation="horizontal" verticalAlignment="bottom" marginTop="1%" width="100%"
                backgroundColor="black" height="10%">
                <TextField marginLeft="5%" width="80%" height="100%" hint="Add a comment" color="white"
                    style.placeholderColor="white" fontSize="15" autocorrect="false"
                    (textChange)="commentTextField($event)"></TextField>
                <Button class="send-button" width="20%" height="60%" (tap)="onSendButton()"></Button>
            </StackLayout>
        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>

        </GridLayout>
    </GridLayout>
</Page>