.page {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.input-text {
    border: none;
    border-color: transparent;
}

TextField {
    border-width: 0 0 2 0;
    border-bottom-color: transparent;
}

.input-field {
    background-color: white;
}

.send-button {
    background-image: url("res://icon_send");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    background-position: center;
}


.send-button:active{
    /* background-image: url("res://icon_send"); */
    background-color: gray;
    /* background-repeat: no-repeat; */
    /* background-size: 50% 90%; */
    /* background-position: center; */
}