.background {
  height: 100%;
  width: 100%;
}

.splash1_background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}

.splash2_background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.splash3_background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.splash4_background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.content-container {
  margin-bottom: 70;
  text-align: center;
}

.splash_contentHeading {
  color: gray;
  font-size: 40;
}

.splash_contentDetail {
  color: white;
  font-size: 18;
}

.gkuLogo-container {
  horizontal-align: center;
  vertical-align: top;
}

.logo-background {
  height: 130;
  width: 130;
  margin-top: 60;
  border-radius: 10;
}

.fab-button-container {
  horizontal-align: center;
  vertical-align: bottom;
  background-color: transparent;
  height: 8%;
  width: 100%;
}

.fab-button-skip {
  color: black;
  font-size: 20;
  margin-left: 5%;
  z-index: 0;
  background-color: transparent;
}

.fab-button-skip:active {
  background-color: #696969;
}

.fab-button-done {
  color: black;
  font-size: 20;
  margin-right: 5%;
  z-index: 0;
  background-color: transparent;
}

.fab-button-done:active {
  background-color: #696969;
}

.gku_logo {
  width: 80;
  height: 80;
}