<GridLayout height="100%" width="100%" class="background" left="0" top="0">
    <Carousel #myCarousel ios:indicatorOffset="0,-10" ios:finite="true" ios:bounce="false" android:indicatorAlignment="bottom"
        showIndicator="true" height="100%" width="100%" (pageChanged)="myChangeEvent($event)" indicatorColor="#44e9f5"
        indicatorColorUnselected="gray">
        <CarouselItem>
            <FlexboxLayout class="splash1_background" backgroundImage="res://splash1" flexDirection="column">
                <StackLayout class="content-container">
                </StackLayout>
            </FlexboxLayout>
        </CarouselItem>
        <CarouselItem>
            <FlexboxLayout class="splash2_background" backgroundImage="res://splash2" flexDirection="column">
                <StackLayout class="content-container">
                </StackLayout>
            </FlexboxLayout>
        </CarouselItem>
        <CarouselItem>
            <FlexboxLayout class="splash3_background" backgroundImage="res://splash3" flexDirection="column">
                <StackLayout class="content-container">
                </StackLayout>
            </FlexboxLayout>
        </CarouselItem>
        <CarouselItem>
            <FlexboxLayout class="splash4_background" backgroundImage="res://splash4" flexDirection="column">
                <StackLayout class="content-container">
                </StackLayout>
            </FlexboxLayout>
        </CarouselItem>
    </Carousel>

    <AbsoluteLayout class="fab-button-container">
        <GridLayout columns="*,*" height="100%" width="100%">
            <Button *ngIf="!done" height="100%" col="0" class="fab-button-skip" marginBottom='30%' horizontalAlignment="left"
                text="SKIP" (tap)="onFabTap()"></Button>
            <Button *ngIf="done" height="100%" col="1" class="fab-button-done" marginBottom='30%' horizontalAlignment="right"
                text="DONE" (tap)="onFabTap()"></Button>
        </GridLayout>

    </AbsoluteLayout>
</GridLayout>