<Page (loaded)="pageLoaded($event)">
    <StackLayout height="100%" width="100%">

        <GridLayout *ngIf="loggedIn" rows="auto">
            <GridLayout *ngIf="isRendering" row="0" width="100%" height="100%">

                <PullToRefresh (refresh)="categoryfilesTab($event)">

                    <GridView [items]="songs" colWidth="35%" rowHeight="40%" width="100%" height="100%"
                        marginRight="7.5" backgroundColor="#dcdcdc">

                        <ng-template let-item="item" let-odd="odd">


                            <StackLayout orientation="vertical" backgroundColor="white" marginLeft="7.5"
                                marginTop="7.5">


                                <GridLayout width="100%" height="60%" rows="auto" columns="auto"
                                    backgroundColor="#dcdcdc">
                                    <Image [src]="getThumbnailSrc(item.thumbnail)" stretch="fill" width="100%"
                                        height="100%" (tap)="onCardClicked(item)"></Image>



                                </GridLayout>

                                <Label class="h3" marginTop="5" marginLeft="5%" [text]="item.name"
                                    color="black"></Label>
                                <StackLayout backgroundColor="#DCDCDC" marginTop="5" width="90%" height="1">
                                </StackLayout>
                                <StackLayout backgroundColor="#DCDCDC" marginTop="10" width="90%" height="1">
                                </StackLayout>

                                <GridLayout class="pull-left" width="90%" rows="auto" columns="auto,auto,*"
                                    marginLeft="5%" marginTop="5" orientation="horizontal">
                                    <Image row="0" col="0" src="res://icon_view" height="25%"></Image>
                                    <StackLayout row="0" col="1" marginLeft="2%" verticalAlignment="center">
                                        <Label class="text-center body"
                                            text="{{item.views==undefined?0:item.views+' views'}}"></Label>
                                    </StackLayout>
                                    <StackLayout row="0" col="2" class="pull-right" width="auto"
                                        horizontalAlignment="right" marginLeft="15%" verticalAlignment="center">
                                        <Label class="text-right body" [text]="item.name"></Label>
                                    </StackLayout>
                                </GridLayout>

                            </StackLayout>

                        </ng-template>
                    </GridView>

                </PullToRefresh>

            </GridLayout>
            <GridLayout *ngIf="!isRendering" row="0" width="100%" height="100%">
                <!-- <ActivityIndicator #activityIndicator row="5" [busy]="isBusy"  class="activity-indicator"></ActivityIndicator> -->
                <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering"
                    rowSpan="1" colSpan="1">
                </ActivityIndicator>

            </GridLayout>
        </GridLayout>
        <GridLayout width="100%" height="100%" *ngIf="!loggedIn">
            <StackLayout horizontalAlignment="center" verticalAlignment="middle">
                <Label text="You need to login to continue"></Label>
            </StackLayout>
        </GridLayout>


    </StackLayout>
</Page>